.header {
    width: 100%;
    background: linear-gradient(135deg, #221a4b, #1e293b);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Right navigation buttons */
.navi-buttons {
    display: flex;
    gap: 20px;
}

.navi-btn {
    width: 52px;
    aspect-ratio: 1;
    border: none;
    background: linear-gradient(135deg, #f97316, #ef4444);
    color: white;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.navi-btn:hover {
    background: white;
    color: rgb(0, 0, 0);
}

/* Search area */
.search-container {
    flex: 1;
    max-width: 400px;
    height: 42px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 22px;
    padding: 15px;
    gap: 10px;
    margin-left: auto;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
}

/* Tablet */
@media (max-width: 768px) {

    .header-container {
        padding: 15px;
        gap: 12px;
    }

    .navi-btn {
        width: 38px;
        height: 38px;
    }

    .navi-buttons {
        gap: 20px;
    }

}


/* Mobile */
@media (max-width: 480px) {

    .header-container {
        gap: 8px;
    }

    .search-container {
        height: 38px;
        padding: 10px;
    }

    .search-input {
        font-size: 13px;
    }

    .navi-btn {
        width: 34px;
        height: 34px;
        font-size: 17px;
    }

    .navi-buttons {
        gap: 10px;
    }

}